body
{
    height: 95%;
    width: 97%;
}


.ahead
{
    width: 100%;
    padding-left: 1%;
}

.menu
{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom:20px;
}

.lien_menu
{
    padding-left: 40px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}


.gauche
{
    width: 60%;
    padding-left: 1%;
}

.img
{
    width: 97%;
}

.droite
{
    width: 36%;
    float:right;
    margin-right: 10px;
    left: -50px;
}

.text
{
    padding-left: 6%;
    margin-top: 42%;
    margin-bottom: 42%;
    width: 42%;
    min-width: 500px;
    max-width: 600px;
    text-align: justify;
}

h1, h2, .lien_menu
{
    font-family: 'Titillium Web', sans-serif;
}

h1
{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

h2
{
    margin-top: 5px;
    font-size: 30px;
}

