/**
*Polices de caractere
*/

@font-face
{
    font-family: "gulim";
    src: url('/css/font/gulim.ttf');
}

@font-face
{
    font-family: "HeitiSC";
    src: url('/css/font/stheiti.ttf');
}

@font-face
{
    font-family: "calibri";
    src: url('/css/font/calibri.ttf');
}


/**
*General Position
*/

html, body
{
    /*height: 100%;*/
    margin: 0px;
   padding: 0px;
   outline: 0px;
}

.global
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sommaire
{
    position: fixed;
    height: 100%;
    padding-top: 60px;
    width: 230px;
    border-right: 1px solid #666;
}

.nav
{
    border-left: solid 1px #666;
}

.texte
{
    width: 150px;
    margin-bottom: 20px;
}

li
{
    margin-left: -20px;
}

.col_droite
{
    display: inline-block;
    min-width: 500px;
    max-width: 1600px;
    width: 83%;
    margin-left: 230px;
    margin-top: -70px;
    margin-bottom: -25px;
    padding-top: 120px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-left: 1px solid black;
    vertical-align: top;
    height: 100%;
}

.court
{
    /*height: 100%;*/
}

.infos
{
    margin-top: 50px;
}

.article, .text_col
{
    width: 600px;
}

.strong
{
    display:block;
    margin-top: 20px;
}

.titre_second
{
    margin-top: -60px;
}

.titre_second, .titre_principal, .bloc_icones, .image, .article, .infos, .debutexpo
{
    padding-left: 1.5%;
}

.image
{
    width:98.5%;
    min-width: 500px;
    max-width: 2000px;
}


.def
{
    max-width: 850px;
}

/**
* Icones
*/

.icones
{
    width: 3cm;
    margin-right: 0.5cm;
    margin-bottom: 0.5cm;
}

.bloc_icones
{
    padding-right: 1.5%;
    margin-top: 1cm;
}

.col_table
{
    width: 170px;
    padding-right: 20px;
}

.table
{
    padding-top: 10px;
    padding-left: 1.5%;
}




/**
*Textes decorations
*/

.texte
{
    font-family: gulim;
    font-size: 14px;
    text-align: justify;
}

li
{
    list-style-type: none;
}

.article, .text_col
{
    text-align: justify;
    font-family: calibri;
    color: #848284;
}

.strong
{
    color: black;
    font-family: HeitiSC;
}

.top
{
    margin-top: 40px;
}

.titre_principal
{
    font-family: HeitiSC;
    font-size: 100px;
}

.titre_second
{
    font-family: HeitiSC;
    font-size: 30px;
    color: #848284;
}


/**
*Liens
*/

.lien
{
    display: block;
    color: rgb(82, 131, 147);
    line-height: 20px;
}

.lien:hover, .lien_col:hover
{
    color: rgb(82, 109, 147);
    font-size: 20px;
}

.lien, .lien:hover
{
   text-decoration: none;
   font-family: gulim;
}

.lien_col
{
    color: rgb(82, 109, 147);
    text-decoration: none;
    font-family: HeitiSC;
}

.lien_col:hover
{
    text-decoration: none;
}

.debutexpo
{
    width: 5cm;
    margin-top: 20px;
}

/**
Listes
**/

.liste_etudiant
{
    width: 55%;
    float: right;
    padding-bottom: 20px;

}


        @media screen and (max-width: 1000px)
        {
            /**
            *Positionnement global
            */

            .global
            {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                min-width: 500px;
                max-width: 1000px;

            }

            .col_droite
            {
                display: block;
                margin-top: 0;
                border: none;
                margin-left: 0;
                padding-left: 0;
                width: 100%;
                padding-top: 130px;
                padding-bottom: 20px;
            }

            .sommaire
            {
                position: absolute;
                width:95%;
                border-right: none;
            }

            /*.nav,.header
            {
                position: absolute;
            }*/

            .nav
            {
                margin-left: 50px;
                width: 90%;
                border: none;
                text-align: center;
                margin-top: -90px;
                float:left;

            }




            /**
            *Images et icones
            */

            .logo
            {
                width: 1.5cm;
                margin-top:-40px;
                margin-left: 20px;
            }

            .sommaire
            {
                display: block;
            }

            .debutexpo
            {
                width: 5cm;
                margin-left: auto;
                margin-left:20px;
                margin-top: 20px;
            }

            .bloc_icones
            {
                clear: both;
            }

            .col_table
            {
                width: 150px;
            }

            /**
            *Textes
            */

            .texte:hover
            {
                font-size: 12px;
            }

            .nav .lien
            {
                display: inline;
                margin-right: 20px;
            }

            .lien:hover, .lien_col:hover
            {
                color: rgb(82, 109, 147);
                font-size: 16px;
            }

            .texte
            {
                width: 95%;
                text-align: right;
                font-size: 9px;
            }

            .article
            {
                width: 100%;
            }

            /**
            *Listes*/

            .liste_etudiant
            {
                float: none;
                width: 100%;
            }

            .liste_auteurs
            {
                float: left;
                width:50%;
            }

            .liste_expo
            {
                padding-top: 15px;
            }



        }

@media screen and (max-width: 850px)
{

    /**
    *Positionnement global
    */

    .col_droite
    {
        padding-top: 130px;
        padding-bottom: 20px;
        min-width: 0;

     }

     /**
     *Menu
     */

    .nav
    {
        width: auto;
        text-align: right;
        right: 0;
        top : -10px;
        float: none;
    }

    .nav .lien
    {
        display: block;

        font-size: 16px;

    }



}


        @media screen and (max-width: 480px)
        {
            /**
            *Positionnement global
            */

            .global
            {
                width: auto;
                margin-left: 5px;
                margin-right: 5px;
                min-width: 0;
                max-width: 480px;

            }

            .image, .article
            {
                min-width: 0;
                /*min-width: 150px;
                max-width: 480px;*/
                padding-right:10px;
            }

            /**
            *Liens
            */

            .lien:hover, .lien_col:hover
            {
                color: rgb(82, 109, 147);
                font-size: 16px;
            }

            /**
            *Images et icones
            */

            .icones
            {
                width: 2cm;
            }

        }

@media screen and (max-device-width: 480px) /* Pour les mobiles à vérifier !!*/
{
    /**
    *Positionnement global
    **/

    .global
    {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
        min-width: 0;
        max-width: 480px;

    }

    /**
    *Liens
    */

    .lien:hover, .lien_col:hover
    {
        color: rgb(82, 109, 147);
        font-size: 16px;
    }

    /**
    *Images et icones
    */

    .image, .article
    {
        min-width: 0;
        padding-right:10px;
    }

    .icones
    {
        width: 2cm;
    }

}
